/****************공지*********************/
/*#key_popup{
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;    
    z-index: 99999999999999999999999999;
    background-color: rgb(0,0,0,0.5);/*배경색 투명하게 깔기*
}
#key_popup > div{
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
    border: 3px solid #132F53;
    padding: 80px 30px;
    left: calc(50% - 469px);
    top: 200px;
    background-color: #fff;
}
#key_popup .close{
    position: absolute;
    top: -20px;
    right: -30px;
    width: 20px;
    height: 20px;
    background: url(../images/btn_popclose.gif) no-repeat;
    background-position: right top;
    filter: invert(12%) sepia(73%) saturate(1121%) hue-rotate(186deg) brightness(101%) contrast(93%);
    border: none;
    cursor: pointer;
}*/
#key_popup{
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;    
    z-index: 99999999999999999999999999;
    background-color: rgb(0,0,0,0.5);/*배경색 투명하게 깔기*/
}
#key_popup > div{
    position: absolute;
    left: calc(50% - 301px);
    top: 170px; 
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
}
#key_popup p{
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% - 227px);
}
#key_popup p>span{
    font-weight: 800;
    color: #132F53;
}
#key_popup p>span.big{
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
}
#key_popup img{
    width: 100%;
}
#key_popup .close{
    position: absolute;
    top: 70px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/btn_popclose.gif) no-repeat;
    background-position: right top;
    filter: invert(12%) sepia(73%) saturate(1121%) hue-rotate(186deg) brightness(101%) contrast(93%);
    border: none;
    cursor: pointer;
}
/************************popup********************************/
#top_popup{
    position: relative;
}
#top_popup img{
    width: 100%;
}
#top_popup .close{
    position: absolute;
    top: 10px;
    right: 30px;
    text-indent:-9999999px;
    background: none;
    border: none;
    cursor: pointer;
}
#top_popup .close:before{
    position: absolute;
    top: 0;
    content:'';
    display: block;
    width: 2px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
}
#top_popup .close:after{
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background-color: #fff;
    transform: rotate(-45deg);
}
#top_popup p{
    position: absolute;
    bottom: 10px;
    right: 80px;
    font-size: 0.7rem;
    color: #aaa;
}
#top_popup span{
    position: absolute;
    bottom: 11px;
    right: 60px;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
}

/*********************slide****************************/
#slide{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 130px;
}
#slide:after{
    display: block;
    content: '';
    clear: both;
}
#slide .main1{
    float: left;
    width: 41.666%;
    /*width: 800px;*/
    /*height: 1200px;*/
    margin: 0 80px;
}
#slide .main2{
    float: left;
    width: calc((100% - 41.666% - 160px + 340px)/2);
    /*width: 640px;*/
    /*height: 960px;*/
    margin-left: -170px;
    transform: translate(0,120px);
    overflow: hidden;
}
#slide .main3{
    float: left;
    width: calc((100% - 41.666% - 160px + 340px)/2);
    /*width: 640px;*/
    /*height: 960px;*/
    margin-right: -170px;
    transform: translate(0,120px);
    overflow: hidden;
}
#slide .main1 img, #slide .main2 img, #slide .main3 img{
    width: 100%;
}
#slide .main_txt{
    position: absolute;
    bottom: 500px;
    left: calc(50% - 189px);
    color: #132F53;
    font-size: 2rem;
    font-weight: bold;
}
#slide .main_tit{
    position: absolute;
    bottom: 400px;
    left: calc(50% - 119px);
    color: #132F53;
    font-size: 5rem;
    font-family: 'Syncopate', sans-serif;
}
#slide .main_button{
    position: absolute;
    bottom: 290px;
    left: calc(50% - 73px);
    color: #132F53;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
#slide .b_button{
    position: absolute;
    bottom: 220px;
    left: calc(50% - 80px);
    display: block;
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #E2CF78;
    transition: 0.5s;
    cursor: pointer;
}
/*#slide .b_button.on{
    background-color: #fff;
}*/
#slide .b_button:hover{
    background-color: #fff;
}

/*********************sec1****************************/
#sec1{
    margin-bottom: 146px;
    padding-top: 30px;
    background-color: #8e8e8e;
    width: 100%;
    height: 500px;
}
#sec1 h2{
    color: #fff;
}

/*********************sec2****************************/
#sec2{
    margin-top: 300px;
}
#sec2::after{
    content: '';
    display: block;
    clear: both;
}
#sec2 h2{
    text-align: center;
    padding-top: 110px;
}
#sec2 .life_l{
    float: left;
    width: 420px;
    padding: 0 100px;
}
#sec2 .life_l img{
    width: 100%;
}
/*********************sec3****************************/
#sec3{
    margin-top: 500px;
    margin-bottom: 100px;
    padding-top: 30px;
    background-color: #8e8e8e;
    width: 100%;
    height: 500px;
}
#sec3 h2{
    transform: translate(0,-425px);
}
/*********************sec4****************************/
/*********************sec5****************************/
#sec5{
    margin-top: 100px;
    margin-bottom: 100px;
}
#sec5 h2{
    color: #000;
    font-weight: bold;
}
#sec5 .inner::after{
    content: '';
    display: block;
    clear: both;
}
#sec5 .event1{
    float: left;
    width: calc((100% - 25px)/2);
    display: block;
}
#sec5 .event2{
    float: right;
    width: calc((100% - 25px)/2);
    display: block;
}
#sec5 .event1 img, #sec5 .event2 img{
    width: 100%;
}
/*********************sec6****************************/
#sec6{
    margin-bottom: 150px;
}
#sec6 .inner::after{
    content: '';
    display: block;
    clear: both;
}
#sec6 ul>li{
    float: left;
    width: calc((100% - 25px)/6);
    height: 225px;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
    color: #fff;
    text-align: center;
}
#sec6 ul>li.youtube{
    width: calc((100% - 25px)/6*2 + 5px);
    margin-right: 0;
}
#sec6 ul>li.youtube .ytb_btn{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    width: 70px;
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(102%) contrast(104%);
}
#sec6 ul>li.youtube .ytb_btn img{
    width: 100%;
}
#sec6 ul>li:hover{
    border: 2px solid #DA4C7A;
    box-sizing: border-box;
}
#sec6 li img{
    width: 100%;
}
#sec6 li:nth-child(2), #sec6 li:nth-child(4){
    transform: translate(0,50px);
}
#sec6 .caption{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: 100%;
    padding-top: 60px;
    opacity: 0;
}
#sec6 .caption:hover{
    opacity: 1;
}
#sec6 .c_tit1{
    font-weight: bold;
    font-size: 1.3rem;
}
#sec6 .c_tit2{
    font-weight: bold;
    font-size: 1.3rem;
}
#sec6 .c_tit3{
    font-weight: bold;
    font-size: 1.3rem;
}
#sec6 .c_tit4{
    font-weight: bold;
    font-size: 1.3rem;
}
#sec6 .c_txt1{
    font-size: 0.9rem;
    line-height: 1.3em;
}
#sec6 .c_txt2{
    font-size: 0.9rem;
    line-height: 1.3em;
}
#sec6 .c_txt3{
    font-size: 0.9rem;
    line-height: 1.3em;
}
#sec6 .c_txt4{
    font-size: 0.9rem;
    line-height: 1.3em;
}
#sec6 .c_insta{
    position: absolute;
    bottom: 65px;
    left: 5px;
    width: 20px;
}
#sec6 .c_insta img{
    width: 100%;
}

#sec6 span.bar1{
    display: block;
    width: 220px;
    height: 2px;
    background-color: #fff;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#sec6 span.bar2{
    display: block;
    width: 150px;
    height: 2px;
    background-color: #fff;
    margin-left: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#sec6 span.bar3{
    display: block;
    width: 155px;
    height: 2px;
    background-color: #fff;
    margin-left: 68px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#sec6 span.bar4{
    display: block;
    width: 190px;
    height: 2px;
    background-color: #fff;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}